#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.math-fact {
  font-size: 6em;
  height: 1em;
  padding: 1em;
  will-change: filter;
  transition: filter 300ms;
}

.user-input {
  font-size: 5em;
  font-weight: bold;
  border: 1px solid;
}

.marking {
  margin: 150px;
  font-size: 120px;
}

